* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
}

.TheBody {
    width: 100%;
    background-color: rgb(14, 16, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header  */
.TheHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    background-color: rgb(34, 35, 48);
    margin-top: 20px;
    border-radius: 40px;
}

.HeaderDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.LogoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    padding: 10px;
    /* background-color: red; */
    /* margin-bottom: 10px; */
}

.fa-whmcs {
    color: rgb(123, 177, 0);
    font-size: 20px;
    /* margin-top: 4px; */
}

.GetStartButton {
    background-color: rgb(123, 177, 0);
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-right: 6px;
}

/* Container styling */
.DropDownA {
    width: 72%;
}

.NavBar {
    position: relative;
    display: flex;
    align-items: center;
    /* background-color: black; */
    overflow: hidden;
}

.NavLinks {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    z-index: 1;
}

.DivDrop {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
}

/* The Sliding Pill - Vertical Setup */
.animation {
    position: absolute;
    border-bottom: 4px solid rgb(4, 255, 12);
    height: 100%;
    top: 150%;
    background-color: #26a67a;
    transition: top 0.6s ease, left 0.3s ease;
}

.IconAnglee {
    z-index: 1;
    width: 25px;
    height: 50px;
    display: flex;
    align-items: center;
}

.NavLinks:hover~.animation,
.DivDrop:hover~.animation {
    top: 50%;
    transform: translateY(-50%);
}

/* Home */
.NavLinks:nth-of-type(1):hover~.animation {
    left: 0.1px;
    width: 70px;
}

/* About */
.NavLinks:nth-of-type(2):hover~.animation {
    left: 77px;
    width: 65px;
}

/* Services */
.NavLinks:nth-of-type(3):hover~.animation {
    left: 146px;
    width: 85px;
}

/* Portfolio */
.NavLinks:nth-of-type(4):hover~.animation {
    left: 235px;
    width: 86px;
}

/* Team */
.NavLinks:nth-of-type(5):hover~.animation {
    left: 325px;
    width: 65px;
}

/* Dropdown */
.DivDrop:hover~.animation {
    left: 395px;
    width: 110px;
}

/* Contact */
.NavLinks:nth-of-type(6):hover~.animation {
    left: 520px;
    width: 85px;
}

/* ? main  */
/* !section1 */
.FirstSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-top: 34px;
}

.FirstMotherFirstSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(92, 92, 92);
    width: 100%;
}

.TitleDiv {
    padding-right: 40px;
}

.PrgrphTitle {
    color: gray;
}

.TitleMargin {
    margin: 10px 0px 20px 0px;
}

.TitleHero {
    color: white;
    font-size: 45px;
}

.PrgrphUnderTitle {
    color: gray;
}

.CreativeImg {
    width: 450px;
    height: 470px;
    margin-right: 40px;
}

.ButtonsDivSec1 {
    margin-top: 30px;
}

.LunchButton {
    background-color: rgb(123, 177, 0);
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    width: 120px;
    font-weight: bold;
}

.ExploreButton {
    border: none;
    color: white;
    background-color: rgb(14, 16, 34);
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* SecondMotherFirstSection */
.SecondMotherFirstSection {
    display: flex;
    justify-content: left;
    align-items: start;
    width: 85vw;
    gap: 240px;
    padding-top: 30px;
    padding-bottom: 80px;
}

.CampaignNumber {
    color: rgb(123, 177, 0);
    font-size: 40px;
}

.PrgrphCampaign {
    color: gainsboro;
}

/* !About  */
/* !section2 */
/*! this is section two */
.section-about {
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/* ?this is a box of the section two */
.box-section-about-1 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    gap: 40px;
}

.box-Build-1-1 {
    width: 60%;
}

.box-about-one {
    width: 100%;
}

.box-1-1-1 {
    display: flex;
    align-items: center;
    padding: 25px 0px;
    width: 100%;
}

.box-1-1-2 {
    border-bottom: 1px dashed rgb(161, 154, 154);
    border-top: 1px dashed rgb(196, 176, 176);
    width: 95%;
}

.icoun {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: rgb(24, 30, 31);
    padding: 10px;
    margin-right: 20px;
}

.box-1-1-1:hover {
    .icoun {
        background-color: rgb(123, 177, 0);
        /* cursor: pointer; */
    }

}

.box-about-1-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 200px;
    border: none;
    border-radius: 20px;
    margin-top: 100px;
    box-shadow: rgba(17, 207, 42, 0.3) 60px -40px 270px;
}

/* ?this is a box of three circle  */
.box-circle {
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
    background-color: rgb(32, 35, 48);
    display: flex;
    width: 100%;
    padding: 10px 30px;
    gap: 10px;
}

.circle-1 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(254, 95, 87);
    color: rgb(254, 95, 87);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.circle-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 187, 46);
    color: rgb(253, 187, 46);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.circle-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 200, 64);
    color: rgb(40, 200, 64);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* ?this is a box image */
.box-image {
    width: 100%;
    height: 230px;
    position: relative;
}

.-image {
    width: 100%;
    height: 300px;
    border-end-end-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* ?this is a box signal */
.box-signal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(24, 27, 40);
    border: 1px solid rgb(94, 101, 132);
    padding: 20px;
    border-radius: 10px;
    top: 15px;
    left: -50px;

}

.singal-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(122, 173, 32);
    padding: 10px;

    .fof {
        font-size: 20px;
    }
}

.signal-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ?this is style box avatar */
.box-cards-users {
    position: relative;
    background-color: rgb(24, 27, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 10px;
    border-radius: 20px;
    border: 1px solid rgb(94, 101, 132);
    width: 200px;
    bottom: 115px;
    left: 280px;
}

.avatar-users {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 53px;
    width: 65%;
}

.avatar-user-image {
    width: 40px;
    height: 40px;
    left: 30px;
    margin-left: -20px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(94, 101, 132);
}

.users {
    position: absolute;
    bottom: 20px;
    color: rgb(99, 104, 120);
}

.box-title-about {
    width: 200px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 550px; */
    border-bottom: 1px solid rgb(59, 61, 73);
    text-underline-offset: 16px;
    margin-bottom: 20px;

    .title-about {
        color: white;
        font-size: 50px;
    }
}

.line-gree {
    position: relative;
    /* margin: 10px; */
    width: 80px;
    border-bottom: solid rgb(123, 177, 0);
    bottom: -12px;
}

.Box-Build {
    display: flex;
    align-items: center;
    width: 350px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(25, 32, 31);
    color: rgb(123, 177, 11);
    margin-bottom: 10px;
}

.stars {
    margin-right: 5px;
}

/*? this is box h1 and paragraphe nemo */

.title-ship {
    font-size: 50px;
}

.para-ship {
    color: rgb(105, 136, 164);
    margin-top: 10px;

}

/* todo this box two is a derection row */
.box-section-about-2 {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 30px;

}

.box-trial {
    background-color: rgb(120, 168, 46);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 15px;
    gap: 20px;
}

.box-trial:hover {
    background-color: yellowgreen;
    cursor: pointer;
}

.fo {
    color: rgb(123, 177, 0);
    font-size: 30px;
}

.box-watch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box-watch:hover {
    cursor: pointer;
    color: rgb(123, 177, 0);

}

.box-section-about-5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    background-color: rgb(31, 37, 38);
    border-radius: 20px;
    border: 1px solid rgb(41, 53, 32);
    padding: 30px;
}

.box-about-1-num {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.num {
    color: rgb(119, 166, 62);
}

/* !Services  */
/* !section3  */
.container-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-top: 150px;
    margin-bottom: 150px;
}

.box-title-services {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    gap: 12px;
    margin-bottom: 50px;
    flex-direction: column;
}

/* .title-services {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 150px;
    border-bottom: 1px solid rgb(59, 61, 73);
    text-decoration: underline 4px solid rgb(123, 177, 0);
    text-underline-offset: 15px;
    margin-bottom: 20px;

} */
.Paragraphe-w-s {
    color: rgb(229, 230, 234);
    margin-bottom: 100px;
}

.container-box-services {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box-services {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.box-services-one {
    width: 32%;
    border-bottom: 1px solid rgb(47, 48, 66);
    padding-bottom: 30px;

    .number-of-box-se {
        font-size: 25px;
        display: flex;
        justify-content: center;

    }

}

.box-services-one-1 {
    gap: 10px;
    display: flex;
    color: rgb(143, 144, 146);

}

.box-services-one:hover {
    .number-of-box-se {
        color: rgb(123, 177, 0);
    }
}

/* ?this is style  box and style inside */
.box-services-one-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title-boxservices {
        text-decoration: none;
        color: white;
        font-size: 25px;
    }


    .title-boxservices:hover {
        color: rgb(123, 177, 11);
    }

}

.box-botton-most {
    display: flex;
    align-items: center;
    gap: 10px;

    .button-most {
        border: 1px solid rgb(43, 59, 25);
        border-radius: 30px;
        padding: 5px 15px;
        color: rgb(123, 177, 11);

    }


}

.box-services-two {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.box-services-ready {
    width: 70%;
    border-top: 1px solid rgb(48, 48, 71);
    padding-top: 60px;

}

.service-more {
    display: flex;
    align-items: center;
    gap: 10;
    padding: 10px 20px 10px 0px;

    .link-service {
        text-decoration: none;
        color: white;
        font-size: 15px;

    }
}

.link-service:hover {
    color: rgb(123, 177, 11);

}


.box-ready {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 13px;
    color: rgb(143, 144, 146);

    h3 {
        font-size: 35px;
        color: white;
    }
}

.services-start {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    margin-top: 35px;
    border-radius: 30px;
    background-color: rgb(139, 185, 35);
}

.link-start {
    text-decoration: none;
    color: white;
}

.link-start:hover {
    color: rgb(190, 238, 17);
}



/* !Portfolio */
/* !section4 */
.FourthSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-top: 34px;
}

.PortfolioTitle {
    color: white;
    text-align: center;
}

.line {
    width: 130px;
    height: 1px;
    background-color: rgb(94, 94, 94);
    position: relative;
    margin: 0 auto 20px;
    border-radius: 50px;
    margin-top: 10px;
}

.line::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2.5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(123, 177, 0);
    top: -0.4px;
}

.DivButtonsAndPrgrphSecFour {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    width: 100%;
}

.PrgrphButtonsSecFour {
    display: flex;
    flex-direction: column;
    color: gray;
}

.PrgrphTitle {
    margin-top: 10px;
}

.DivButtonsSecFour {
    display: flex;
    gap: 10px;
}

.Buttons1SecFour {
    background-color: rgb(123, 177, 0);
    color: gainsboro;
    border: none;
    padding: 10px;
    border-radius: 18px;
    cursor: pointer;
    width: 50px;
}

.ButtonsSecFour {
    background-color: rgb(14, 16, 34);
    color: gainsboro;
    border: none;
    border: 1px solid rgb(84, 84, 84);
    padding: 10px;
    border-radius: 18px;
    cursor: pointer;
}

/* <!-- FirstPicsDivSec4 --> */
.FirstPicsDivSec4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.Card1-4 {
    width: 48%;
    background-color: rgb(14, 16, 34);
    border-bottom: 1px solid rgb(87, 87, 87);
    padding-bottom: 30px;
}

.ImageSec4 {
    width: 100%;
    height: 50%;
}

.PrgrphTitle {
    font-weight: bold;
    margin-bottom: 10px;
}

.DivReviewSec4 {
    display: flex;
    justify-content: left;
    align-items: center;
    color: gray;
    gap: 5px;
    font-size: 14px;
    margin-top: 10px;
}

.IconsSec4 {
    color: rgb(252, 194, 36);
    font-size: 12px;
}

.TitleCardSec4 {
    color: white;
    margin-bottom: 10px;
}

.PrgrphCadSec4 {
    color: gray;
}

.DivButtonsCardSec4 {
    display: flex;
    gap: 10px;
    margin: 20px 0px;
}

.ButtonsSec4 {
    color: white;
    background-color: rgb(24, 27, 44);
    border: none;
    border: 1px solid rgb(66, 66, 66);
    padding: 8px;
    border-radius: 30px;
    cursor: pointer;
}

.LinkSec4 {
    color: white;
    text-decoration: none;
}

/* ! SecondPicsDivSec 5  */
.section-why-us {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 0px;
    gap: 20px;
}

.title-why-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: rgb(118, 139, 176);
    font-size: 20px;
    gap: 20px;

}

.title-why {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 250px;
    color: white;
    border-bottom: 1px solid rgb(84, 89, 130);
    font-size: 40px;
}

.outline-gree {
    outline-style: 4px solid chartreuse;
}

.box-why-us-one {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.box-why-us-one-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* ?this is box inside box one*/
    .box-why-us-one-1-1 {
        width: 50%;

        .box-apart-form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-size: 38px;
            color: white;

            .para {
                font-size: 17px;
                color: rgb(138, 154, 180);
            }
        }
    }

    /*? thsi is box inside box one */
    .box-why-us-one-1-2 {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;

        .box-why-us-one-1-2-1 {
            width: 75%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .buttom-launch {
                background-color: rgb(139, 185, 35);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                padding: 20px;
                text-decoration: none;
                color: white;
                font-size: 20px;

            }

            .buttom-launch:hover {
                background-color: rgb(231, 247, 9);
                color: rgb(206, 194, 194);
            }

            .explore {
                gap: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: white;
                font-size: 20px;

                .fof {
                    font-size: 15px;
                }
            }

            .explore:hover {
                border-bottom: 2px solid white;

            }

        }
    }
}

.box-why-us-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(84, 89, 130);
    border-bottom: 1px solid rgb(84, 89, 130);
    width: 90vw;

    .box-why-us-two-1-1 {
        display: flex;

        padding: 10px;
    }

    .box-why-us-two-1-1:hover {
        background-color: rgb(61, 64, 116);
        cursor: auto;
    }

    .box-why-us-two-1-1-1 {
        padding: 15px;
        display: flex;
        justify-content: center;
    }

    .bor {

        border-left: 1px solid rgb(108, 115, 168);
        border-right: 1px solid rgb(108, 115, 168);
    }

    .faf {
        font-size: 40px;
        margin-top: 15px;
    }

    .box-why-us-two-1-1-2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        color: rgb(97, 125, 152);

    }

    .num-why-us {
        font-size: 50px;
        color: white;
    }

    .prosantage-num {
        color: #1cd825;
        font-size: 30px;
    }

    .title-box-two {
        color: white;
        font-size: 20px;
    }

}

.box-why-us-three {
    margin-top: 40px;
    display: flex;
}

.box-why-three-1 {
    display: flex;
    width: 50%;
}

.image-box-three {
    width: 500px;
    height: 300px;
}

.box-why-three-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .border-bottom-none {
        border: none;
    }
}

.title-pillars {
    font-size: 50px;
    color: white;
}

.box-why-three-2-1 {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid rgb(84, 89, 130);
    padding-bottom: 30px;
}

.num-why {
    width: 10%;
    display: flex;
    justify-content: center;
    color: rgb(83, 156, 9);
    padding-top: 6px;
    font-size: 15px;
}

.box-paragraphe-why {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(135, 144, 154);
}

.title-box-three {
    color: white;
    font-size: 20px;
}


/* ! ThirdPicsDivSec 5 --> */
/* !Testimonials */
/* !section6 */
.SixthSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-top: 50px;
    padding-bottom: 100px;
}

.MotherOfTestimonials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}

.TestimonialsTitle {
    color: white;
    text-align: center;
}

.line6 {
    width: 160px;
    height: 1px;
    background-color: rgb(94, 94, 94);
    position: relative;
    margin: 0 auto 20px;
    border-radius: 50px;
    margin-top: 10px;
}

.line6::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2.5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(123, 177, 0);
    top: -0.4px;
}

/* <!-- FirstReaviw --> */
.TestimonialsCard1 {
    width: 48%;
    padding: 25px;
    margin-top: 50px;
    color: white;
    background-color: rgb(24, 27, 40);
}

.PrgrphTetimonial {
    margin-top: 20px;
}

.TestimonialImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.TestimonialProfil {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    border-top: 1px solid;
    padding-top: 20px;
}

.DoneIcon {
    color: rgb(123, 177, 0);
    margin-left: 200px;
}

.PersonJob {
    color: gray;
    font-size: 13px;
}

.AngleDivSec6 {
    color: white;
    display: flex;
    gap: 30px;
}

.AngleIcon {
    cursor: pointer;
    border: 1px solid gray;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* !Team  */
/* !Section7  */
.SeventhSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-top: 35px;
    padding-bottom: 50px;
}

.TeamTitle {
    color: white;
    text-align: center;
}

.line7 {
    width: 130px;
    height: 1px;
    background-color: rgb(94, 94, 94);
    position: relative;
    margin: 0 auto 20px;
    border-radius: 50px;
    margin-top: 10px;
}

.line7::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2.5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(123, 177, 0);
    top: -0.4px;
}

.FirstMotherSection7 {
    display: flex;
    color: white;
    width: 100%;
    margin-top: 40px;
}

.PrgrphTitle1Sec7 {
    color: gray;
    font-weight: bold;
    padding-bottom: 10px;
}

.DivPrgrphFirstMotherSec7 {
    color: gray;
    padding-bottom: 30px;
    padding-top: 20px;
}

.DivNumbersSec7 {
    display: flex;
    gap: 60px;
    padding-top: 20px;
    border-top: 1px solid gray;
    color: rgb(123, 177, 0);
}

.Div12Sec7 {
    border-left: 1px solid gray;
    padding-left: 10px;
}

.PrgrphNumbersSec7 {
    color: gray;
}

/* SecondMotherSection7 */
.DivImagesSec7 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 52vw;
}

.ImgSec7 {
    width: 145px;
    height: 155px;
    padding-bottom: 10px;
}

.PrgrphImgSec7 {
    color: gray;
    padding-top: 5px;
}

/* LeaderShipSection */
.LeaderShipSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LeadershipPrgrph {
    border-top: 1px solid rgb(90, 90, 90);
    margin-top: 100px;
    padding-top: 50px;
    color: gray;
    width: 100%;
}

.LeaderTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    color: white;
}

.LeaderPrgrph {
    color: gray;
}

/* Card1-7 */
.FatherOfCards {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Card1-7 {
    width: 33%;
    height: 100%;
    border: 1px solid rgb(50, 50, 50);
    background-color: rgb(24, 27, 40);
    overflow: hidden;
}

.ImageCardSec7 {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.NameOfCardPersonSec7 {
    color: white;
    margin-top: 6px;
    margin-left: 10px;
}

.PrgrphPersonSec7Card {
    color: rgb(123, 177, 0);
    margin-bottom: 5px;
    margin-left: 10px;
}

.PrgrphsCardSec7 {
    color: gray;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 13px;
}

.IconsCardSec7 {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    color: white;
}

.IconSec7Card {
    border: 1px solid rgb(66, 66, 66);
    margin-bottom: 20px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
}

/* LeadershipBottomSection */
.LeadershipBottomSection {
    margin-top: 100px;
    border: 1px solid rgb(53, 53, 53);
    background-color: rgb(21, 22, 40);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    color: white;
}

.DivTitlePrgrphLeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-right-longIcon {
    color: rgb(59, 143, 0);
    border: 1px solid rgb(50, 50, 50);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.DivPrgrphLastSec7 {
    margin-top: 7px;
    color: gray;
}

.ButtonLastSec7 {
    color: white;
    background-color: rgb(123, 177, 0);
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.ButtonLastSec7-2 {
    background-color: rgb(21, 22, 40);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
/*!section contact  */


/*!section contact  */

/* !footer  */
/* footer  */
.TheFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-top: 35px;
}

.DivFollowUsFooter {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
}

.IconsFollowUs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    padding: 10px;
}

.IconsFooterFollowUs {
    border: 1px solid;
    padding: 5px;
    border-radius: 20px;
}

/* FooterLogoLinks */
.FooterLogoLinks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 20px;
}

.TitleLogoFooter {
    padding-bottom: 25px;
}

.DivFooterLogoLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
    color: white;
}

.PrgrphFooterLogo {
    font-weight: bold;
}

.Div1LinksFooter {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}

.LineFooter {
    width: 30px;
    height: 4px;
    background-color: rgb(59, 143, 0);
    border-radius: 50px;
}

.LinksInFooter {
    color: white;
    text-decoration: none;
}

.LinksInFooter:hover {
    color: rgb(59, 143, 0);
}

/* .FooterLastBar */
.FatherFooterLastBar {
    background-color: rgb(0, 2, 22);
    width: 116%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.FooterLastBar {
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.DivIconsLastBar {
    display: flex;
    gap: 10px;
}

.MyWebsiteBold {
    font-weight: bold;
}

.ColoringNames {
    color: rgb(123, 177, 0);
    font-weight: bold;
}

.LastBarIcons {
    padding: 5px;
    background-color: rgb(14, 16, 34);
    color: rgb(123, 177, 0);
    cursor: pointer;
}

/*  */
.LastBarIcons {
    position: relative;
    margin: 5px;
}

.LastBarIcons span {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.8s;
}

.LastBarIcons:hover span {
    opacity: 1;
}

.LastBarIcons:nth-child(1):hover span {
    background: black;
}

/* X */
.LastBarIcons:nth-child(2):hover span {
    background: #1877F2;
}

/* Facebook */
.LastBarIcons:nth-child(3):hover span {
    background: rgb(240, 38, 108);
}

/* Instagram */
.LastBarIcons:nth-child(4):hover span {
    background: #0b68c6;
}

/* LinkedIn */
.LastBarIcons:nth-child(1):hover {
    background: black;
    color: white;
}

/* X */
.LastBarIcons:nth-child(2):hover {
    background: #1977f3;
    color: white;
}

/* Facebook */
.LastBarIcons:nth-child(3):hover {
    background: rgb(240, 38, 108);
    color: white;
}

/* Instagram */
.LastBarIcons:nth-child(4):hover {
    background: #0b67c4;
    color: white;
}

/* LinkedIn */