*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
}
.TheBody{
    width: 100%;
    background-color: rgb(14, 16, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* header  */
.TheHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    background-color: rgb(34, 35, 48);
    margin-top: 20px;
    border-radius: 40px;
}
.HeaderDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.LogoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.fa-whmcs{
    color: rgb(123, 177, 0);
}
.GetStartButton{
    background-color: rgb(123, 177, 0);
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
.NavBar{
    display: flex;
    gap: 20px;
}
.NavLinks{
    color: white;
    text-decoration: none;
}
.NavLinks:hover{
    color: rgb(123, 177, 0);
}
.DivDrop{
    color: white;
    cursor: pointer;
}
.DivDrop:hover{
    color: rgb(123, 177, 0);
}
/* main  */
/* !section1 */
.FirstSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-top: 34px;
}
.FirstMotherFirstSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(92, 92, 92);
    width: 100%;
}
.TitleDiv{
    padding-right: 40px;
}
.PrgrphTitle{
    color: gray;
}
.TitleMargin{
    margin: 10px 0px 20px 0px;
}
.TitleHero{
    color: white;
    font-size: 45px;
}
.PrgrphUnderTitle{
    color: gray;
}
.CreativeImg{
    width: 450px;
    height: 470px;
    margin-right: 40px;
}
.ButtonsDivSec1{
    margin-top: 30px;
}
.LunchButton{
    background-color: rgb(123, 177, 0);
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    width: 120px;
}
.ExploreButton{
    border: none;
    color: white;
    background-color: rgb(14, 16, 34);
    padding: 10px;
    cursor: pointer;
}
/* SecondMotherFirstSection */
.SecondMotherFirstSection{
    display: flex;
    justify-content: left;
    align-items: start;
    width: 85vw;
    gap: 240px;
    padding-top: 30px;
    padding-bottom: 80px;
}
.CampaignNumber{
    color: rgb(123, 177, 0);
    font-size: 40px;
}
.PrgrphCampaign{
    color: gainsboro;
}
/* !About  */
 /* !section2 */

 /* !Services  */
 /* !section3  */

/* !Portfolio */
/* !section4 */
.FourthSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-top: 34px;
}
.PortfolioTitle{
    color: white;
    text-align: center;
}
.line{
    width: 130px;
    height: 1px;
    background-color: rgb(94, 94, 94);
    position: relative;
    margin: 0 auto 20px;
    border-radius: 50px;
    margin-top: 10px;
}
.line::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 2.5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(123, 177, 0);
    top: -0.4px;
}
.DivButtonsAndPrgrphSecFour{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    width: 100%;
}
.PrgrphButtonsSecFour{
    display: flex;
    flex-direction: column;
    color: gray;
}
.DivButtonsSecFour{
    display: flex;
    gap: 10px;
}
.Buttons1SecFour{
    background-color: rgb(123, 177, 0);
    color: gainsboro;
    border: none;
    padding: 10px;
    border-radius: 18px;
    cursor: pointer;
    width: 50px;
}
.ButtonsSecFour{
    background-color: rgb(14, 16, 34);
    color: gainsboro;
    border: none;
    border: 1px solid rgb(84, 84, 84);
    padding: 10px;
    border-radius: 18px;
    cursor: pointer;
}
/* <!-- FirstPicsDivSec4 --> */
.FirstPicsDivSec4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}
.Card1-4{
    width: 48%;
    background-color: rgb(14, 16, 34);
    border-bottom: 1px solid rgb(87, 87, 87);
    padding-bottom: 30px;
}
.ImageSec4{
    width: 100%;
    height: 50%;
}
.PrgrphTitle{
    font-weight: bold;
}
.DivReviewSec4{
    display: flex;
    justify-content: left;
    align-items: center;
    color: gray;
    gap: 5px;
    font-size: 14px;
}
.IconsSec4{
    color: rgb(252, 194, 36);
    font-size: 12px;
}
.TitleCardSec4{
    color: white;
    margin: 6px 0px;
}
.PrgrphCadSec4{
    color: gray;
}
.DivButtonsCardSec4{
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}
.ButtonsSec4{
    color: white;
    background-color: rgb(24, 27, 44);
    border: none;
    border: 1px solid rgb(66, 66, 66);
    padding: 8px;
    border-radius: 30px;
    cursor: pointer;
}
.LinkSec4{
    color: white;
    text-decoration: none;
}
/* <!-- SecondPicsDivSec4 --> */
 /* <!-- ThirdPicsDivSec4 --> */
 /* !Testimonials */
  /* !section6 */
  .SixthSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-top: 50px;
    padding-bottom: 100px;
}
.MotherOfTestimonials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}
.TestimonialsTitle{
    color: white;
    text-align: center;
}
.line6{
    width: 130px;
    height: 1px;
    background-color: rgb(94, 94, 94);
    position: relative;
    margin: 0 auto 20px;
    border-radius: 50px;
    margin-top: 10px;
}
.line6::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 2.5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(123, 177, 0);
    top: -0.4px;
}
/* <!-- FirstReaviw --> */
.TestimonialsCard1{
    width: 48%;
    padding: 25px;
    margin-top: 50px;
    color: white;
    background-color: rgb(24, 27, 40);
}
.PrgrphTetimonial{
    margin-top: 20px;
}
.TestimonialImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.TestimonialProfil{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    border-top: 1px solid;
    padding-top: 20px;
}
.DoneIcon{
    color: rgb(123, 177, 0);
    margin-left: 200px;
}
.PersonJob{
    color: gray;
    font-size: 13px;
}
.AngleDivSec6{
    color: white;
    display: flex;
    gap: 30px;
}
.AngleIcon{
    cursor: pointer;
    border: 1px solid gray;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}