*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
}
.TheBody{
    width: 100%;
    background-color: rgb(14, 16, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* header  */
.TheHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    background-color: rgb(34, 35, 48);
    margin-top: 20px;
    border-radius: 40px;
}
.HeaderDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.LogoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.fa-whmcs{
    color: rgb(123, 177, 0);
}
.GetStartButton{
    background-color: rgb(123, 177, 0);
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
.NavBar{
    display: flex;
    gap: 20px;
}
.NavLinks{
    color: white;
    text-decoration: none;
}
.NavLinks:hover{
    color: rgb(123, 177, 0);
}
.DivDrop{
    color: white;
    cursor: pointer;
}
.DivDrop:hover{
    color: rgb(123, 177, 0);
}
/* main  */
/* !section1 */
.FirstSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-top: 34px;
}
.FirstMotherFirstSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(92, 92, 92);
    width: 100%;
}
.TitleDiv{
    padding-right: 40px;
}
.PrgrphTitle{
    color: gray;
}
.TitleMargin{
    margin: 10px 0px 20px 0px;
}
.TitleHero{
    color: white;
    font-size: 45px;
}
.PrgrphUnderTitle{
    color: gray;
}
.CreativeImg{
    width: 450px;
    height: 470px;
    margin-right: 40px;
}
.ButtonsDivSec1{
    margin-top: 30px;
}
.LunchButton{
    background-color: rgb(123, 177, 0);
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    width: 120px;
}
.ExploreButton{
    border: none;
    color: white;
    background-color: rgb(14, 16, 34);
    padding: 10px;
    cursor: pointer;
}
/* SecondMotherFirstSection */
.SecondMotherFirstSection{
    display: flex;
    justify-content: left;
    align-items: start;
    width: 85vw;
    gap: 240px;
    padding-top: 30px;
    padding-bottom: 80px;
}
.CampaignNumber{
    color: rgb(123, 177, 0);
    font-size: 40px;
}
.PrgrphCampaign{
    color: gainsboro;
}